LOG_LEVEL=DEBUG

# Text To Speach language
TTS_LANG=ja

# mDNS scan seconds
SCAN_SECOND=5

# EXCLUDE from broadcasting
# specify by name. 
EXCLUDE_INSTANCE_1=AMZNFIRETV
EXCLUDE_INSTANCE_2=excludename02
